.tasks {
  /* border: 1px solid red; */
  justify-content: center;
  max-width: 500px;
  margin: auto;
}

.tasks > ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
